<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="2" debug="false">
    <!-- Spring Boot의 원래 logback 초기화는 base.xml에서 이뤄짐 -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Spring Boot의 기본설정은 org/springframework/boot/logging/logback/default.xml -->
    <include resource="org/springframework/boot/logging/logback/default.xml" />

    <springProperty scope="context" name="springAppName" source="spring.application.name" />
    <springProperty scope="context" name="serverProfile" source="spring.profiles.active" />

    <!-- JMX 설정 -->
    <jmxConfigurator />

    <!-- 프로젝트의 logback 정책 설정 -->
    <include resource="logback/defaults.xml" />

    <springProperty name="prod">
        <include resource="logback/logback-prod.xml" />
    </springProperty>

    <springProperty name="qa">
        <include resource="logback/logback-qa.xml" />
    </springProperty>

    <springProperty name="dev">
        <include resource="logback/logback-dev.xml" />
    </springProperty>

</configuration>